.grid-list {
    column-count: auto;
    column-width: 400px;
    column-gap: 8px;
    margin: 0 8px;

    > * {
        break-inside: avoid;
        margin-bottom: 8px;
    }
}

.spell-card {
    border: 1px solid var(--border-color);
    text-align: left;
    border-radius: 8px;
    box-shadow: var(--md-elevation-1);
    transition: box-shadow 0.3s ease-in-out;
    background-color: var(--card-background);
    color: var(--text-color);

    &:hover {
        box-shadow: var(--md-elevation-2);
    }

    > * {
        margin: 8px;
    }

    .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }

    svg {
        fill: var(--text-color);
    }
}

.spell-card-header {
    h3 {
        margin: 0 0 12px 0;
        color: var(--text-color);
    }
    p {
        margin: 0 0 4px 0;
        color: var(--md-text-secondary-dark);
    }
}

.spell-props {
    position: relative;
    float: inline-end;
    width: 90px;

    div:first-child {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;
    }
    div:nth-child(2) {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 47px;
        top: 47px;
    }
    div:nth-child(3) {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 18px;
        top: 77px;
    }
    div:last-child {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 47px;
        top: 106px;
    }
}

.spell-title {

}

.spell-school {

}

.spell-components {
    display: flex;
    gap: 8px;
}

.spell-components svg {
    width: 24px;
    height: 24px;
}