.grid-list {
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;*/
    margin: 0 8px;
    columns: 400px;
    gap: 8px;

    > * {
        break-inside: avoid;
        margin-bottom: 8px;
    }
}

.spell-card {
    border: 1px solid;
    text-align: left;

    > * {
        margin: 8px;
    }

    .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
}

.spell-card-header {
    h3 {
        margin: 0 0 12px 0
    }
    p {
        margin: 0 0 4px 0;
    }
}

.spell-props {

}

.spell-title {

}

.spell-school {

}