header {
    position: sticky;
    top: 0;
    z-index: 2;
    margin: 0;
    background-color: #d5d5d5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.title {
    margin: 0;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

.nav-item {
    padding: 8px;
}

.content {
    position: relative;
    background-color: #f1f1f1;
    max-width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 20px;
}